///*------------------------------------*\
//    # GLOBAL SETTINGS
//\*------------------------------------*/

// typography
$gel-type-enable--markup-output: true;
$gel-type-enable--font-family: true;

// grid
$gel-grid-1280-toggle-class: 'b-pw-1280';
$gel-grid-breakpoints: (xs, s, m, l);
$gel-grid-breakpoints--1280: (xl, xxl);
$gel-grid-enable--center: true;
$gel-grid-enable--right: true;
$gel-grid-enable--markup-output: true;

// feature class
$gs-svg-feature-class: 'no-svg';
