/*------------------------------------*\
    # SITE HEADER
\*------------------------------------*/

.gs-c-site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    height: 54px;

    border-bottom: 1px solid $sp-c-black;
    padding: double($gel-spacing-unit) 0;

    background-color: $sp-c-charcoal;
    color: $sp-c-white;
}
