/*------------------------------------*\
    # SITE NAVIGATION
\*------------------------------------*/

.gs-c-site-nav {
    text-align: right;
}

.gs-c-site-nav__toggle {
    display: none;

    @if $enhanced {
        display: inline-block;

        @include mq($from: gel-bp-m) {
            display: none;
        }
    }
}

.gs-c-site-nav__list {

}

.gs-c-site-nav__link {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:hover {
        color: $sp-c-silver;
    }
}
